.headerContainer {
  display: flex;
  align-items: center;
  min-height: var(--header-height);
}

.leftPart {
  margin-right: auto;
}

.rightPart {
  display: flex;
}

.logotype {
  cursor: pointer;

  @media (max-width: 1040px) {
    width: 121px;
    height: 46px;
  }

  @media (max-width: 576px) {
    width: 112px;
    height: 42px;
  }
}

.lngSwitcher {
  margin: 0 74px;

  @media (max-width: 1040px) {
    margin: 0 54px;
  }

  @media (max-width: 940px) {
    display: none;
  }
}

.connection {
  padding: 11px 37px;

  @media (max-width: 1040px) {
    padding: 11px 31px;
  }

  @media (max-width: 940px) {
    display: none;
  }
}

.mobileMenuBtn {
  display: none;

  @media (max-width: 940px) {
    display: block;
  }
}

.mobileMenu {
  @media (max-width: 576px) {
    width: 38px;
    height: 38px;
  }
}
