.headerContainer {
  display: flex;
  align-items: center;
  min-height: var(--header-height);
}

.logotype {
  cursor: pointer;
  flex: 1;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 52px;

  @media (max-width: 1040px) {
    gap: 42px;
  }

  @media (max-width: 940px) {
    display: none;
  }
}

.menuLink {
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  line-height: 21px;
}

.menuLink:before {
  content: '';
  background-color: var(--color-red);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.menuLink:hover {
  background-position: 0;
  color: var(--color-red);
}

.menuLink:hover::before {
  width: 50%;
}

.lngList {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 74px;

  @media (max-width: 1040px) {
    margin: 0 54px;
  }

  @media (max-width: 940px) {
    display: none;
  }
}

.ru,
.en {
  text-transform: uppercase;
}

.selectedLng {
  margin-top: 3px;
  padding-bottom: 1px;
  border-bottom: 2px solid var(--color-red);
}

.connection {
  padding: 11px 37px;

  @media (max-width: 1040px) {
    padding: 11px 31px;
  }

  @media (max-width: 940px) {
    display: none;
  }
}

.mobileMenu {
  display: none;

  @media (max-width: 940px) {
    display: block;
    border: none;
    background-color: transparent;
  }
}
