.home {
  margin-top: 100px;
  min-height: 431px;
  position: relative;

  @media (max-width: 576px) {
    margin-top: 74px;
    margin-bottom: 74px;
  }
}

.artwork {
  position: absolute;
  right: 0;
  top: 0;

  @media (max-width: 1068px) {
    width: 596px;
    height: 405px;
  }

  @media (max-width: 1030px) {
    width: 557px;
    height: 379px;
    top: 22px;
  }

  @media (max-width: 992px) {
    width: 509px;
    height: 346px;
    top: 46px;
  }

  @media (max-width: 944px) {
    display: none;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.tabletArtwork {
  display: none;

  @media (max-width: 944px) {
    display: block;
    position: absolute;
    right: 0;
    top: -30px;
  }

  @media (max-width: 745px) {
    width: 282px;
    height: 508px;
    top: -6px;
  }

  @media (max-width: 668px) {
    width: 263px;
    height: 473px;
    top: 0px;
  }

  @media (max-width: 635px) {
    width: 224px;
    height: 403px;
    top: 46px;
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.mobileArtwork {
  display: none;

  @media (max-width: 576px) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  padding-top: 64px;
  padding-bottom: 20px;

  @media (max-width: 700px) {
    font-size: 18px;
  }

  @media (max-width: 576px) {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    position: relative;
  }
}

.digital {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  position: relative;
  margin-right: 18px;

  @media (max-width: 700px) {
    font-size: 66px;
  }

  @media (max-width: 576px) {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
  }
}

.agency {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  position: relative;

  @media (max-width: 944px) {
    display: block;
  }

  @media (max-width: 700px) {
    font-size: 66px;
  }

  @media (max-width: 576px) {
    display: block;
    font-size: 50px;
    line-height: 42px;
    margin-left: 78px;
  }

  @media (max-width: 338px) {
    margin-left: 25px;
  }
}

.titleWrapper {
  padding-bottom: 20px;
}

.descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 132%;
  max-width: 345px;
  padding-bottom: 52px;

  @media (max-width: 700px) {
    font-size: 18px;
  }

  @media (max-width: 576px) {
    font-size: 18px;
    line-height: 132%;
    max-width: 314px;
    margin: 0 auto;
    padding-top: 215px;
    text-align: center;
    padding-bottom: 45px;
  }
}

.btn {
  padding: 17px 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: 700px) {
    text-align: center;
    padding: 16px 24px;
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: 576px) {
    text-align: center;
    padding: 16px 24px;
    font-size: 18px;
    line-height: 21px;
  }
}

.btnWrapper {
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.tassis {
  font-weight: 700;
  font-size: 18px;
  line-height: 132%;

  @media (max-width: 576px) {
    display: none;
  }
}
