.home {
  margin-top: 100px;
  min-height: 431px;
  position: relative;
}

.artwork {
  position: absolute;
  right: 0;
  top: 0;
}

.subtitle {
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  padding-top: 64px;
  padding-bottom: 20px;
}

.digital {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  position: relative;
  margin-right: 18px;
}

.agency {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  position: relative;
}

.titleWrapper {
  padding-bottom: 20px;
}

.descr {
  font-size: 20px;
  line-height: 132%;
  max-width: 354px;
  padding-bottom: 52px;
}

.btn {
  padding: 17px 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lowerPart {
  margin-top: 230px;
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lowerTitle {
  font-size: 20px;
  line-height: 24px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
