.header {
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color-dark);
}

.changedHeader {
  background-color: #242424f3;
  backdrop-filter: blur(10px);
}

.headerContainer {
  display: flex;
  align-items: center;
  min-height: var(--header-height);
}
